<h5>Login</h5>

<div class="row">
    <div class="input-field col s12">
      <input [(ngModel)]="user.name" id="user" type="text" class="validate">
      <label class="active" for="user">User</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
      <input [(ngModel)]="user.password" id="password" type="password" class="validate">
      <label class="active" for="password">Password</label>
    </div>
</div>

<button class="btn waves-effect waves-light" 
    type="submit" name="action" (click)="doLogin()">
    Login
    <i class="material-icons right">send</i>
  </button>